<!DOCTYPE html>
<html>
  <head>
    <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Charbrawls</h1>
    <p>
      Welcome to our site!
    </p>
    <p>
      Thanks so much for your contribution to our battle! We value you opinons within our matchups very highly.

      from,
            The Charbrawl Team
    </p>
  </body>
</html>
