
<div class="text"><h5><%= link_to "Click here to Enter Charbrawls", characters_path%></h5></div>

<style type="text/css">
.top-bar {
  display: none
}
.text {
  text-align: center
}
a:hover {
  color: red;
}

body {
  background: url('/images/pokemon_homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
