<h1><br>Current Matchups<br></h1>

<% @matchups.each do |matchup| %>
<%= form_tag(characters_path, :method => "get", id: "search-form") do %>
  <%= link_to "#{matchup.character.name} vs. #{matchup.opponent.name}", matchup_path(matchup) %>
<% end %>
  <% if current_user && current_user.admin? %>
    <%= link_to "Delete!", matchup_path(matchup), method: :delete %>
  <% end %>
<% end %>




<%= paginate @matchups %>
