<h1><br>Character Choice<br></h1>
<style>
body {
    color: black;
}
h1 {
    color: black;
}
</style>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
  <%end%>
</ul>
