<h1>Character Choice </h1>
<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>

  <%if current_user %>
    <% if current_user.admin? %>
      <%= link_to "Delete!", character_path(character), method: :delete %>
    <% end %>
  <% end %>

  <%end%>
</ul>
