.odd{
  background-color: #FF0000;
}
.title {
  text-align: center;
  font-family: Arial;
}
#pokemon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#table-label{
  font-weight:bold;
}
table{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
td{
  font-family: Arial;
  font-size: 100px;
}
.review{
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
ul{
  list-style-type:none;
}
.container{
  text-align:center;
  }
.container:before{
  content: '';
  display:inline-block;
  height:100%;
  vertical-align: middle;
  margin-right: -.25em;
}
.stats{
  display: inline-block;
  vertical-align:middle;
  width: 900px;
}
.opponent{
  float:right;
}
.competition{
  float:left;
}

